{% extends '@Dashboard/base.html.twig' %}

{% block title %}{{ page_title }} - {{ organization.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <main class="container-fluid p-0">
        <!-- Search Section -->
        <section class="search-section text-center py-5">
            <div class="container-fluid container-md">
                <h1 class="mb-4">{{ 'Services and orders in one place'|trans }}</h1>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="{{ 'Find everything you need'|trans }}">
                            <button class="btn btn-primary btn-lg search-button" title="{{ 'Search'|trans }}" type="button">
                                <i class="fas fa-search"></i> {{ 'Search'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="filter-toggle">
                        <button id="order-filter-button" title="{{ 'Orders Search'|trans }}">
                            <i class="fas fa-shopping-cart fs-2"></i>
                        </button>
                        <button id="service-filter-button" title="{{ 'Services Search'|trans }}">
                            <i class="fas fa-tools fs-2"></i>
                        </button>
                    </div>
                    <div class="view-toggle">
                        <button id="list-view-button" title="{{ 'List View'|trans }}">
                            <i class="fas fa-list"></i>
                        </button>
                        <button id="grid-view-button" title="{{ 'Grid View'|trans }}">
                            <i class="fas fa-th-large"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Items Grid -->
        <section class="items-grid pb-5" id="search-items">
            <div class="container-fluid container-md">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row g-4">
                            {# .... #}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
