{% extends 'base.html.twig' %}

{% block title %}{{ 'Terms of Service' | trans }}{% endblock %}

{% block body %}
<div class="container terms-page">
    <h1>{{ 'Terms of Service' | trans }}</h1>
    
    <div class="terms-content">
        <!-- Your terms of service content -->
        <div class="terms-sections">
            {% if content %}
                {{ content|raw }}
            {% else %}
                <p>{{ 'Terms of service content will be added soon.' | trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
