<!-- Forgot Password Popup -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center w-100" id="forgotPasswordModalLabel">{{ 'forgot_password'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm">
                    <div class="form-group">
                        <p class="text-center w-100">{{ 'forgot_password_email_instructions'|trans }}</p>
                        <input type="email" class="form-control" id="forgotPasswordEmail" name="email" placeholder="{{ 'enter_email_address'|trans }}" required>
                        <div class="invalid-feedback">{{ 'error_invalid_email'|trans }}</div>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary w-100">{{ 'send_forgot_password_button'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/popup/forgot-password-popup.js') }}" defer></script>
{% endblock %}
