<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ organization.name }}</title>
    <subtitle>{{ organization.description }}</subtitle>
    <link href="{{ website_url }}" rel="alternate" type="text/html"/>
    <link href="{{ url('feed-atom') }}" rel="self" type="application/atom+xml"/>
    <id>{{ website_url }}</id>
    <updated>{{ 'now'|date('c') }}</updated>
    <rights>Copyright © {{ 'now'|date('Y') }}, {{ organization.name }}</rights>
    
    {% for item in items %}
    <entry>
        {# TODO: Add Entity fields #}
    </entry>
    {% endfor %}
</feed>
