{% extends '@Dashboard/base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans }} - {{ organization.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/registration/css/popup/login-popup.css') }}">
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-6">
                    <h2 class="text-center mb-4">{{ 'reset_password.title'|trans }}</h2>
                    <div class="card shadow-sm">
                        <div class="card-body p-5">
                            <form id="resetPasswordForm" method="post" action="{{ path('reset-password') }}">
                                <input type="hidden" name="token" value="{{ token }}">
                                <div class="password-wrapper mb-3">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="{{ 'reset_password.new_password'|trans }}" required>
                                    <div class="invalid-feedback"></div>
                                    <button type="button" class="password-toggle"></button>
                                </div>
                                <div class="password-wrapper mb-3">
                                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="{{ 'reset_password.confirm_password'|trans }}" required>
                                    <div class="invalid-feedback"></div>
                                    <button type="button" class="password-toggle"></button>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">{{ 'reset_password.submit_button'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/registration/js/popup/reset-password.js') }}"></script>
{% endblock %}
