{% extends '@Dashboard/base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <main class="container-fluid p-0">
        <!-- Search Section -->
        <section class="search-section text-center py-5">
            <div class="container-fluid container-md search-item">
                <h1 class="mb-4">{{ 'services_and_orders_title'|trans }}</h1>
                <div class="row justify-content-center">
                    <div class="col-12 text-start">
                        <span class="search-examples">
                            {{ 'search_examples.title'|trans }}
                            <a href="#" class="search-example-link">{{ 'search_examples.examples.1'|trans }}</a>
                            <a href="#" class="search-example-link">{{ 'search_examples.examples.2'|trans }}</a>
                            <a href="#" class="search-example-link">{{ 'search_examples.examples.3'|trans }}</a>
                        </span>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg search-input" placeholder="{{ 'find_everything_placeholder'|trans }}">
                            <button class="btn btn-primary btn-lg search-button" title="{{ 'Search'|trans }}" type="button">
                                <i class="fas fa-search"></i> {{ 'Search'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="filter-toggle">
                        <button id="order-filter-button" title="{{ 'orders_search_title'|trans }}">
                            <i class="fas fa-shopping-cart fs-2"></i>
                        </button>
                        <button id="service-filter-button" title="{{ 'services_search_title'|trans }}">
                            <i class="fas fa-tools fs-2"></i>
                        </button>
                    </div>
                    <div class="view-toggle">
                        <div class="order-dropdown">
                            <button class="order-button" id="order-button" title="{{ 'Order'|trans }}">
                                <i class="fas fa-sort"></i>
                            </button>
                            <div class="order-menu" id="order-menu">
                                <a href="#" data-order="price_asc">
                                    <i class="fas fa-sort-amount-up-alt"></i>
                                    {{ 'order.price.asc'|trans }}
                                </a>
                                <a href="#" data-order="price_desc">
                                    <i class="fas fa-sort-amount-down-alt"></i>
                                    {{ 'order.price.desc'|trans }}
                                </a>
                                <a href="#" data-order="date_desc">
                                    <i class="fas fa-sort-amount-down-alt"></i>
                                    {{ 'order.date.desc'|trans }}
                                </a>
                                <a href="#" data-order="date_asc">
                                    <i class="fas fa-sort-amount-up-alt"></i>
                                    {{ 'order.date.asc'|trans }}
                                </a>
                                <a href="#" data-order="rating_desc">
                                    <i class="fas fa-sort-amount-down-alt"></i>
                                    {{ 'order.rating.desc'|trans }}
                                </a>
                                <a href="#" data-order="rating_asc">
                                    <i class="fas fa-sort-amount-up-alt"></i>
                                    {{ 'order.rating.asc'|trans }}
                                </a>
                            </div>
                        </div>
                        <button id="list-view-button" title="{{ 'list_view_title'|trans }}">
                            <i class="fas fa-list"></i>
                        </button>
                        <button id="grid-view-button" title="{{ 'grid_view_title'|trans }}">
                            <i class="fas fa-th-large"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Items Grid -->
        <section class="items-grid pb-5" id="search-items">
            <div class="container-fluid container-md">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row g-4">
                            {# .... #}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
