<!-- Forgot Password Popup -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center w-100" id="forgotPasswordModalLabel">{{ 'Forgot Password Title'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <form id="resetPasswordForm" class="needs-validation" novalidate data-ajax="true">
                    <input type="hidden" id="token" name="token" value="">
                    
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">{{ 'New Password'|trans }}</label>
                        <div class="password-wrapper position-relative">
                            <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'Enter New Password'|trans }}" required>
                            <div class="invalid-feedback position-absolute">{{ 'Password Invalid'|trans }}</div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="confirm_password" class="form-label">{{ 'Confirm New Password'|trans }}</label>
                        <div class="password-wrapper position-relative">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="{{ 'Confirm New Password'|trans }}" required>
                            <div class="invalid-feedback position-absolute">{{ 'Confirm Password Invalid'|trans }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100">{{ 'Reset Password Button'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/popup/reset-password.js') }}" defer></script>
{% endblock %}