{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/popup/forgot-password-popup.css') }}">
{% endblock %}

<!-- Forgot Password Popup -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center w-100" id="forgotPasswordModalLabel">{{ 'Forgot Password Title'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm" class="needs-validation" novalidate data-ajax="true">
                    <div class="form-group">
                        <input type="email" class="form-control" id="forgotPasswordEmail" name="email" placeholder="{{ 'Forgot Password Email Placeholder'|trans }}" required>
                        <div class="invalid-feedback">{{ 'Forgot Password Email Invalid'|trans }}</div>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary w-100">{{ 'Forgot Password Send Button'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/popup/forgot-password-popup.js') }}" defer></script>
{% endblock %}