<!-- Share Popup -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center w-100" id="shareModalLabel">{{ 'Share Title'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <div class="popup-grid">
                    <button class="popup-action-btn primary" data-action="copy-link">
                        <i class="fas fa-link"></i>
                        <span>{{ 'Share Copy Link'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="email">
                        <i class="fas fa-envelope"></i>
                        <span>{{ 'Share Email Button'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="twitter">
                        <i class="fab fa-twitter"></i>
                        <span>{{ 'Share Twitter'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="whatsapp">
                        <i class="fab fa-whatsapp"></i>
                        <span>{{ 'Share WhatsApp'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="messenger">
                        <i class="fab fa-facebook-messenger"></i>
                        <span>{{ 'Share Messenger'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="facebook">
                        <i class="fab fa-facebook"></i>
                        <span>{{ 'Share Facebook'|trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/popup/share-popup.js') }}" defer></script>
{% endblock %}