<!-- Share Popup -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center w-100" id="shareModalLabel">{{ 'share_popup_title'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'share_popup_close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <div class="popup-grid">
                    <button class="popup-action-btn primary" data-action="copy-link">
                        <i class="fas fa-link"></i>
                        <span>{{ 'share_copy_link'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="email">
                        <i class="fas fa-envelope"></i>
                        <span>{{ 'share_email_button'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="twitter">
                        <i class="fab fa-twitter"></i>
                        <span>{{ 'share_twitter'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="whatsapp">
                        <i class="fab fa-whatsapp"></i>
                        <span>{{ 'share_whatsapp'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="messenger">
                        <i class="fab fa-facebook-messenger"></i>
                        <span>{{ 'share_messenger'|trans }}</span>
                    </button>
                    <button class="popup-action-btn" data-action="facebook">
                        <i class="fab fa-facebook"></i>
                        <span>{{ 'share_facebook'|trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/popup/share-popup.js') }}" defer></script>
{% endblock %}