<!-- Change Password Modal -->
<div class="modal fade" id="change-password-popup" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title w-100 text-center" id="changePasswordModalLabel">{{ 'settings.privacy.change_password.title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
            </div>
            
            <div class="modal-body p-4">
                <form id="changePasswordForm">
                    <div class="mb-3">
                        <div class="form-group position-relative">
                            <label for="current-password" class="form-label">{{ 'settings.privacy.change_password.current_password'|trans }}</label>
                            <div class="input-group">
                                <input type="password" 
                                       class="form-control" 
                                       id="current-password" 
                                       name="current-password" 
                                       required 
                                       data-error="{{ 'settings.privacy.change_password.validation.current_password_required'|trans }}">
                            </div>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group position-relative">
                            <label for="new-password" class="form-label">{{ 'settings.privacy.change_password.new_password'|trans }}</label>
                            <div class="input-group">
                                <input type="password" 
                                       class="form-control" 
                                       id="new-password" 
                                       name="new-password" 
                                       required 
                                       data-error="{{ 'settings.privacy.change_password.validation.new_password_required'|trans }}">
                            </div>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">{{ 'settings.privacy.change_password.submit'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
