<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en') }}">
    <head>
        {# Set meta variables #}
        {% set page_title = block('title') is defined ? block('title') : 'Welcome!'|trans %}
        {% set meta_description = block('meta_description') is defined ? block('meta_description') : null %}
        {% set og_image = block('og_image') is defined ? block('og_image') : null %}

        {# Include meta tags component #}
        {% include '@Dashboard/component/meta.html.twig' %}

        <title>{{ page_title }} | {{ organization.name }}</title>

        {# Core CSS #}
        {% block core_stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        {% endblock %}

        {# Page-specific CSS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}

        {# Core JavaScript #}
        {% block core_javascripts %}
            <script>
                window.appUser = {{ app.user ? 'true' : 'false' }};
                window.appConfig = {
                    locale: '{{ app.request.locale }}',
                    baseUrl: '{{ app.request.schemeAndHttpHost }}'
                };
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" defer></script>
        {% endblock %}

        {# Page-specific JavaScript #}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage" class="{% block body_class %}{% endblock %}">
        {# Flash messages #}
        {% block flash_messages %}
            {% if app.session is defined and app.session %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message|trans }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans }}">&times;</button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endblock %}

        {# Header #}
        {% block header %}
            {% include '@Dashboard/component/header.html.twig' %}
        {% endblock %}

        {# Main Content #}
        {% block body %}{% endblock %}

        {# Footer #}
        {% block footer %}
            {% include '@Dashboard/component/footer.html.twig' %}
        {% endblock %}

        {# Modals #}
        {% block modals %}
            {% include '@Dashboard/popup/share-popup.html.twig' %}
            {% if app.user %}

            {% else %}
                {% include '@Registration/popup/login-popup.html.twig' %}
                {% include '@Registration/popup/register-popup.html.twig' %}
                {% include '@Registration/popup/forgot-password-popup.html.twig' %}
            {% endif %}
        {% endblock %}

        {# Late-loaded JavaScript #}
        {% block late_javascripts %}
            <script src="{{ asset('js/base.js') }}" defer></script>
            <script src="{{ asset('js/translations.js') }}" defer></script>
        {% endblock %}
    </body>
</html>
