{% extends '@Dashboard/base.html.twig' %}

{% block title %}{{ page_title }} - {{ organization.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/page.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="content-wrapper">
        <div class="container">
            <div class="page-content">
                {{ content }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
