<!-- Header/Navbar -->
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-hand"></i> {{ organization.name }}
        </a>
        <div class="ms-auto d-flex align-items-center">
            <button class="theme-toggle" id="themeToggle" aria-label="Toggle theme">
                <i class="fas fa-moon" id="themeIcon"></i>
            </button>
            {% include '@Locale/component/language_menu.html.twig' %}
            <div class="nav-item dropdown profile-dropdown ms-3">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if app.user %}
                        {% if app.user.avatar %}
                            <div class="profile-image-container">
                                <img src="{{ app.user.avatar }}" alt="Profile" class="rounded-circle">
                            </div>
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                        <div class="profile-name fw-semibold text-truncate ms-2">
                            {{ app.user.name|length > 20 ? app.user.name|slice(0, 20) ~ '...' : app.user.name }}
                        </div>
                    {% else %}
                        <i class="fas fa-user"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    {% if app.user %}
                        <li><a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> {{ 'profile_menu_item'|trans }}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> {{ 'logout_menu_item'|trans }}</a></li>
                    {% else %}
                        {% include '@Registration/component/auth_menu.html.twig' %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
